@model IEnumerable<electroMVC.Models.Product>
@{
    ViewData["Title"] = "ProductByCategory";
    Layout = "~/Views/Shared/_ProductList.cshtml";
}
<h2>ProductByCategory</h2>
<div class="col-md-12">
	<div class="row">
		<div class="col-md-12">
			<ul class="breadcrumb-tree">
				<li><a href="#">Home</a></li>
				<li><a href="#">All Categories</a></li>
				<li><a href="#">Accessories</a></li>
				<li><a href="#">Headphones</a></li>
				<li class="active">Product name goes here</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<!-- store top filter -->

		<!-- /store top filter -->
		<div class="products-tabs">
			<!-- tab -->
			<div id="tab2" class="tab-pane fade in active">
				<div class="products-slick" data-nav="#slick-nav-2">
					<!-- product -->
					@foreach (var item in Model)
					{
						<div class="product">
							<div class="product-img">
								<img src="/img/@item.ProductImage" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
									<span class="new">NEW</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">@item.Category.CategoryName</p>
								<h3 class="product-name"><a href="/Products/DescriptionAndBuy?productId=@item.ProductId">@item.ProductName</a></h3>
								<h4 class="product-price">$@item.ProductPrice<del class="product-old-price">$990.00</del></h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					}
					<!-- /product -->
				</div>

			</div>
			<!-- /tab -->
		</div>
		<!-- store bottom filter -->
		<div class="store-filter clearfix">
			<span class="store-qty">Showing 20-100 products</span>
			<ul class="store-pagination">
				<li class="active">1</li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
			</ul>
		</div>
		<!-- /store bottom filter -->
	</div>
</div>
<!-- /Products tab & slick -->
